.chatListContainer{
   display: flex;
   flex-direction: column;
   position: relative;
   height: 100%;
}
.header{
    display: flex;
    padding: .5em;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-background-color);
}
.imgContainer{
    width: 40px;
    height: 40px;
    background-color: black;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .6em;
    cursor: pointer;
}
.iconContainer{
    width: 100%;
    display: flex;
    gap: .9em;
    align-items: center;
    justify-content: flex-end;

}
.iconContainer div{
    cursor: pointer;
}
.searchIconContainer{
    height: 24px;
    width: 24px;
  
  padding: .337em;
    background-color:  rgba(255, 255,255,.16) ;
    box-sizing: unset;
    border-radius: 10px 0 0 10px;
}
.searchBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--search-input-container-background) !important;
}
.searchBox input{
    font-size: 1em;
    color: var(  --white-color);
    border: none;
    outline: none;
    padding: .5em 1em;
    width: 90%;
    background-color:  rgba(255, 255,255,.16) ;
    border-radius: 0 8px 8px 0;
}
.chatListing{
    height: 100%;
    background-color: var(--search-input-container-background);
    overflow-y: scroll;
}

.chatListing::-webkit-scrollbar {
    width: 4px; 
  }
  
  .chatListing::-webkit-scrollbar-track {
    background:  transparent;
  }
  
  .chatListing::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255 , 0.16);
    
  }

/* dropdown */
.dropbtn {
   
    border: none;
   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownContent {
    display: none;
    position: absolute;
    right: 5px;
   
    
    background-color: #233138;
    min-width: 170px;
    min-height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  
  /* Change color of dropdown links on hover */
  .dropdownContent a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdownContent {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .btn{
    border:none;
    background-color: transparent;
    font-size: 16px;
    padding: 2px 4px;
    margin: 0 1.5em;
    text-align: center;
    color: #D1D7D8;
  }
.btnWrapper{
    
    padding: .2em;
    margin: 1em 0;
    &:hover{
        background-color: var(--search-input-container-background);
    }
}
